In [1]:
import pandas as pd

In [36]:
cols = ['mpg','cylinders','displacement','horsepower','weight','acceleration','model year','origin','car name']
df = pd.read_csv('auto-mpg.data', header=None, names=cols)

In [37]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0 8 307.0 130.0 3504. 12...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15.0 8 350.0 165.0 3693. 11...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18.0 8 318.0 150.0 3436. 11...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16.0 8 304.0 150.0 3433. 12...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17.0 8 302.0 140.0 3449. 10...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
393,27.0 4 140.0 86.00 2790. 15...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,44.0 4 97.00 52.00 2130. 24...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,32.0 4 135.0 84.00 2295. 11...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,28.0 4 120.0 79.00 2625. 18...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,31.0 4 119.0 82.00 2720. 19...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df.iloc[0,:]

mpg             18.0   8   307.0      130.0      3504.      12...
cylinders                                                     NaN
displacement                                                  NaN
horsepower                                                    NaN
weight                                                        NaN
acceleration                                                  NaN
model year                                                    NaN
origin                                                        NaN
car name                                                      NaN
Name: 0, dtype: object

In [40]:
df2 = df['mpg'].str.split('   ',expand=True)

In [64]:
df2.columns.values[0] = 'mpg'

ValueError: invalid literal for int() with base 10: 'mpg'

In [60]:
df2.columns[0] = 'mpg'
df2.columns[1] = 'cylinders'
df2.columns[2] = 'displacement'
df2.columns[4] = 'horsepower'
df2.columns[6] = 'weight'
df2.columns[7] = 'acceleration'
df2.columns[8] = 'model year'
df2.columns[9] = 'origin_car_name'

TypeError: Index does not support mutable operations

In [62]:
df2.columns[9]= 'origin_car_name'

TypeError: Index does not support mutable operations

In [58]:
df2.columns = ['one', 'teo']

RangeIndex(start=0, stop=11, step=1)

In [57]:
for i in df2.columns:
    df2.columns[i] = str(i)

TypeError: Index does not support mutable operations

In [55]:
#3 5 7
df.drop([3, 5, 7], axis=1)

KeyError: '[3, 5, 7] not found in axis'

In [10]:
df.to_csv('auto_map.csv', index=False)

In [27]:
pd.read_csv('auto-mpg.data', header=None)#, sep='  ')

                                                     0
0    18.0   8   307.0      130.0      3504.      12...
1    15.0   8   350.0      165.0      3693.      11...
2    18.0   8   318.0      150.0      3436.      11...
3    16.0   8   304.0      150.0      3433.      12...
4    17.0   8   302.0      140.0      3449.      10...
..                                                 ...
393  27.0   4   140.0      86.00      2790.      15...
394  44.0   4   97.00      52.00      2130.      24...
395  32.0   4   135.0      84.00      2295.      11...
396  28.0   4   120.0      79.00      2625.      18...
397  31.0   4   119.0      82.00      2720.      19...

[398 rows x 1 columns]

In [ ]:
df['V'].str.split('-',expand=True)